*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.mainCont{
    display: flex;
    flex-direction: column;
    height: 100vh; /* New */
    width: 100vw;
}

.mainCont div:first-child {
    flex-grow: 1; /* New */
}

.mainCont div:last-child {
    flex-shrink: 0; /* New */
}
